<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/content-table.css" />

    <title>Index</title>
  </head>
  <body>
    <main class="flex-shrink-0 mb-5">
      <div class="content-table-container">
        <div class="content-table-title mb-3">Расписание врачей</div>
        <div class="content-table text-center mt-4">
          <div class="content active" id="content-1">
            <!-- Таблица  для медсестр -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" rowspan="2">#</th>
                  <th scope="col" rowspan="2">Ф.И.О врача</th>
                  <th scope="col" rowspan="2">Должность</th>
                  <th scope="col" colspan="6">Неделя</th>
                  <th scope="col" rowspan="2">Кабинет</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td>Пон</td>
                  <td>Вт</td>
                  <td>Ср</td>
                  <td>Чт</td>
                  <td>Пт</td>
                  <td>Суб</td>
                  <td></td>
                </tr>
                <% users.forEach(function(user,index){ %>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <%= user.lastname %> <%= user.fname %>. <%= user.mname %>.
                  </td>

                  <td><%= user.pname %></td>
                  <td><%= start[index][0] %> - <%= end[index][0] %></td>
                  <td><%= start[index][1] %> - <%= end[index][1] %></td>
                  <td><%= start[index][2] %> - <%= end[index][2] %></td>
                  <td><%= start[index][3] %> - <%= end[index][3] %></td>
                  <td><%= start[index][4] %> - <%= end[index][4] %></td>
                  <td><%= start[index][5] %></td>
                  <td><%= user.cabinet %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <script src="/js/content-table.js"></script>
    <script src="/js/index-replace.js"></script>
  </body>
</html>
